[*.cs]

# CS8618: El campo que acepta valores NULL está sin inicializar. Considere la posibilidad de declararlo como que acepta valores NULL.
dotnet_diagnostic.CS8618.severity = error

#CS8625: No se puede convertir un literal NULL en un tipo de referencia que no acepta valores NULL.
dotnet_diagnostic.CS8625.severity = error